extends layout
block title
	title Country Fun Facts 

block css
	link(href="/css/style.css", rel="stylesheet")

block body
	ul.countryInfo
		for countries in Response
			li.countryName #{countries.Name}
			img(class = 'countryFlag', src=countries.Flag, alt="", srcset="")
			li.subRegion Geographic Location: #{countries.SubRegion}
			li.currencyName Currency Name: #{countries.CurrencyName} (#{countries.CurrencyCode})