extends mainPages
block title
	title Quiz

block body
	h1 Good luck on our quiz! No Cheating!
	b How many can you get correct?
	#questionList
		form.questions
			- let questionNum = 1;
			for question in info
				.question
					b #{questionNum}
					img(class = "countryFlag", src=question.flag, alt="Flag", srcset="")
					.options
						for country in question.possAnsw
							input(class="option", type="radio", name=`option${questionNum}`, value=country)
							| #{country}
							.clear
						-questionNum++;
			br
			button.button(type="submit") Submit and Tweet Score
	b Want to share your (hopefully) awesome score with your friends on Twitter?
	div#numCorrect
	div.quizImage
	script(src="/js/reqResults.js")